<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{url_for('static', filename='css/dash.css')}}">
    
    <title>ATT&CK Tagger - Dash</title>
</head>
<body>
    <div class="dash-container">
        <form action="/documentpost" method="GET">
            <div class="doc-text-container">
                <div class="document-title">
                    <h2 id="selectable-title">{{bite[index]['title']}}</h2>
                </div>
                <div class="doc-text">
                    <p class="document-content" id="selectable-content">{{bite[index]['content']}}</p>
                </div>
                <div class="target-text">
                    <h3 class="target-text-header">Target Text: </h3> <button id="clear-button">Clear</button>
                    <input type="hidden" id="target-text" name="target-text">
                    <p id="target-text-p">Select text...</p>
               
                </div>
            </div>
            <div class="hidden">
                <input type="hidden" name="filename" id="filename" value="{{filename}}">
                <input type="hidden" name="index" id = "index" value="{{index}}"/>
                
            </div>
            <div class="buttons">
            {%- for button in buttons %}
                <button class="attack-button" title="{{button['description']}}">{{ button['tag'] }}</button>
            {% endfor %}
            
            </div>
            <button id="submit-button" type="submit">Submit</button>
        </form>


    </div>
    
    <script type="text/javascript" src="{{url_for('static', filename='js/dash.js')}}"></script>
</body>
</html>