<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/filepick.css')}}">


    <title>ATT&CK Tagger</title>
</head>
<body>
    
    <div class="file-input">
        <h1 class="header">Please choose a Bite document</h1>
        <form  action='/documentpost' method='POST' enctype="multipart/form-data">
            <input type="file" id="file" name="file">
            <input type="submit">
          </form>
    </div>


</body>
</html>