<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/dash.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>ATT&CK Tagger - Dash</title>
</head>
<body class="bg-dark text-light">
  
    <div class="dash-container">
      <div class="document-title">
        <h2 class="mt-3 mb-3" id="selectable-title">{{bite[index]['title']}}</h2>
    </div>

      <div class="mt-5 mb-5">

        {%- for id in bite[index]["mitre"] %}

          <div class="container">
            <div class="row">
              <div style="align: left; text-align: left;" class="col-sm-6 bg-dark text-light">
                <h5 class=""> {{id}}</h5>
              </div>
              <div style="align: left; text-align: left;" class="col-sm-6 bg-dark text-light">
                <!-- {{bite[index]['mitre'][id]}} -->
                <p> {{ bite[index]["mitre"][id] }}</p>

                </div>
              </div>
            </div>

        {% endfor %}

      </div>



                <div class="doc-text" style="margin-left: 1.5%;">
                    <p class="document-content" style="text-align:left;" id="selectable-content">{{bite[index]['content']}}</p>
                </div>
                <div style="text-align:left; margin-left: 1.5%;" class="target-text">
                    <h4 class="target-text-header">Target Text    <button class="btn btn-warning" id="clear-button">Clear</button> </h4>
                    <input type="hidden" id="target-text" name="target-text">
                    <p id="target-text-p">No Text Selected</p>

                </div>
            </div>
            

            <script>

            function setColor(btn){
                var property = document.getElementById(btn);
                property.style.backgroundColor = "white"
            }

            </script>


            <div class="buttons">
            {%- for button in buttons %}
                <button class="attack-button btn btn-info" onclick="setColor('{{button['tag']}}')" id="{{button['tag']}}" title="{{button['description']}}">{{ button['tag'] }}</button>
            {% endfor %}
            </div>
            <div id="picks">
              <h1>Current tags:</h1>
              <ul>

              </ul>
            </div>
            <form action="/dash" method="POST">
              <input type="hidden" name="bite" id="bite" value="{{bite}}">
                <input type="hidden" name="filename" id="filename" value="{{filename}}">
                <input type="hidden" name="index" id="index" value="{{index}}"/>
              <button id="submit-button" class="btn btn-success mb-4" style="float:right; margin-right: 1.5%;">Submit</button>
        
            </form>
            


    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/dash.js')}}"></script>

</body>
</html>
