.document-content {
    width: 90%;
    height: 50vh;
    border: 2px solid white;
    overflow-x: hidden;
    overflow-y: auto;
    /*padding: 10px;*/
}



.buttons{
    margin: 30px;
}

.attack-button{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.attack-button-info{
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-matrix > .btn:nth-child(10n+10+1) {
  clear: left;
  margin-left: 0;
}
.btn-matrix > .btn:nth-child(n+10+1) {
  margin-top: -1px;
}
.btn-matrix > .btn:first-child {
  border-bottom-left-radius: 0;
}
.btn-matrix > .btn:nth-child(10) {
  border-top-right-radius: 4px !important;
}
.btn-matrix > .btn:nth-last-child(10) {
  border-bottom-left-radius: 4px !important;
}
.btn-matrix > .btn:last-child {
  border-top-right-radius: 0;
}

li{
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

