.document-content {
    width: 98%;
    height: 50vh;
    border: 2px solid black;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
}

.buttons{
    margin: 30px;
}

.attack-button{
    margin: 10px;
}